go 1.23.3

use (
	./cmd/basicapi
	./cmd/basicrepl
	./cmd/example
	./cmd/kvstore
	./cmd/todoapi
	./cmd/webserver
	./pkg/api
	./pkg/base
	./pkg/kubernetesutil
	./pkg/prometheusutil
	./pkg/pubsubutil
	./pkg/redisutil
	./pkg/repl
	./pkg/todo
)

replace github.com/labiraus/go-utils/pkg/base v0.0.0 => ./pkg/base

replace github.com/labiraus/go-utils/pkg/api v0.0.0 => ./pkg/api

replace github.com/labiraus/go-utils/pkg/kubernetesutil v0.0.0 => ./pkg/kubernetesutil

replace github.com/labiraus/go-utils/pkg/prometheusutil v0.0.0 => ./pkg/prometheusutil

replace github.com/labiraus/go-utils/pkg/pubsubutil v0.0.0 => ./pkg/pubsubutil

replace github.com/labiraus/go-utils/pkg/redisutil v0.0.0 => ./pkg/redisutil

replace github.com/labiraus/go-utils/pkg/repl v0.0.0 => ./pkg/repl

replace github.com/labiraus/go-utils/pkg/todo v0.0.0 => ./pkg/todo
