go 1.24.3

use (
	./cmd/basicapi
	./cmd/basicrepl
	./cmd/chatserver
	./cmd/example
	./cmd/kvstore
	./cmd/lambda
	./cmd/messagefeed/client
	./cmd/messagefeed/server
	./cmd/messagefeed/store
	./cmd/messagefeed/types
	./cmd/todoapi
	./cmd/webserver
	./pkg/api
	./pkg/base
	./pkg/kubernetesutil
	./pkg/prometheusutil
	./pkg/pubsubutil
	./pkg/redisutil
	./pkg/repl
	./pkg/todo
	./pkg/websocketutil
)
